#root {
  height: 100%;
}

.dark {
  background: #202e38 !important;
  height: 100%;
}

.dark h1 {
  color: #f1f5f6 !important;
}

.light h1 {
  color: #202e38 !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-left: auto;
}

.ant-switch {
  margin-right: 10px !important;
  margin-left: auto !important;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(9, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (max-width: 1000px) {
  .periodic-table {
    justify-content: unset;
  }
  #root {
    height: unset;
  }
}

.periodic-element {
  padding: 4px !important;
  position: relative !important;
  z-index: 10 !important;
  cursor: default !important;
  transition: all 0.3s ease !important;
  color: #202e38 !important;
  height: -webkit-fill-available !important;
  width: -webkit-fill-available !important;
  .title {
    font-size: 30px;
    font-weight: bold;
    transition: 0.8s ease 600ms !important;
    display: block;
  }
  .description {
    margin-top: -0.2em !important;
    display: block;
  }
  &:hover {
    transform: scale(1.12) !important;
  }
}

.legend-table {
  text-align: center;
  font-size: 15px;
  margin: 2em auto 0;
  &__marker {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 5px 5px 10px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0.5px 1px rgba(0, 0, 0, 0.15);
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px 5px 5px;
    color: #ccc;
  }
  &__direction {
    display: inline-block;
    margin: 10px 15px 10px 10px;
  }
}

.light .legend-table {
  &__text {
    color: #202e38;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.549);
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #cccc;
}
